@model IEnumerable<MVCHomeworkDay1.Models.ViewModel.BillViewModel> 

@{
    ViewBag.Title = "Bill";
}

<h2>Bill</h2>



<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <tr>
                <th>#</th>
                <th>類別</th>
                <th>日期</th>
                <th>金額</th>
            </tr>
            @{int i = 1; }
            @foreach (var item in Model)
            {
                string color = "blue";
                if (item.category == "支出") { color = "red"; }
                <tr>
                    <td><font color="@color">@i</font></td>
                    <td><font color="@color">@item.category</font></td>
                    <td><font color="@color">@item.date.ToString("yyyy-MM-dd")</font></td>
                    <td><font color="@color">@item.money</font></td>
                </tr>
                i++;

            }
        </table>
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


