@model MVCHomeworkDay1.Models.ViewModel.BillViewModel
@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm())
{
    <div class="well">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="category" class="col-sm-2 control-label">類別</label>
                <div class="col-sm-10">
                    @Html.DropDownList("category", (IEnumerable<SelectListItem>)ViewData["Category"], new { @class = "form-control" })

                </div>
            </div>
            <div class="form-group">
                <label for="money" class="col-sm-2 control-label">金額</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(model => model.money, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.money)
                </div>
            </div>
            <div class="form-group">
                <label for="date" class="col-sm-2 control-label">日期</label>
                <div class="col-sm-10">
                    @Html.EditorFor(model => model.date, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.date)
                </div>
            </div>
            <div class="form-group">
                <label for="description" class="col-sm-2 control-label">備註</label>
                <div class="col-sm-10">
                    @Html.TextAreaFor(model => model.description, new { maxlength = 100, @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.description)

                 

                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-8 col-sm-4">
                    <button type="submit" class="btn btn-default">送出</button>
                </div>
            </div>
        </form>
    </div>
}
    <div class="row">
        <div class="col-md-12">
            @Html.Action("Bill")
        </div>
    </div>
